/*Header style*/
header {
  position : fixed;
  width : 100%;
  height :60px;
  top :0px;
  left:0px;
  background-color: rgb(2, 10, 26);
  z-index: 10;
}
.header_content   #left li b{
  position : absolute;
  top :10px;
  left:10px;
  font-size:30px;
  font-family: 'Courier New', Courier, monospace;
}
.header_content #right {
  position:absolute;

  top:0px;
  right:0px;
}
.header_content #right li{
  display:inline-block;
  padding-right: 30px;

}
.header_content #right li a{
  display:inline-block;
  text-decoration: none;

}
.header_content #right li a:hover{
color:#DCDCDC;

}

/*Footer style*/
footer{
  position : fixed;
  width : 100%;
  height :60px;
  top :91%;
  left:0px;
  background-color: rgb(2, 10, 26);

}
.footer_content ul li{
  position:relative;
  left:5%;
  display : inline-block;
  padding:10px 15px 50px 55px ;
  width:15%;
  margin:10px;
  color:rgb(247, 237, 196);
  font-size:15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900
}


/*Body styles*/
body{
  position : fixed;
  height :100%;
  top :60px;
  left:0px;
  width :100%;
  background-color: #DCDCDC;
}
  /*Login and signup form*/
.losi_form {
  position: fixed;
  width:50%;
  margin: 0% 0% 25% 25%;
  height:auto;
  font-size:15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
.dashboard img{
  width: 98.6%;
  height: 100%;
}
.dashboard {
  width: 100%;
  height: 100%;
}




.index {
  position: fixed;
  top: 70px;
  left: 10%;
  width:80%;
  height:80%;
  border-radius: 50px;
  background-color:  rgb(2, 10, 26);
}
.index ul {

  width:60%;
  margin: 10% 10% 20% 20%;
}


.index ul li a{
  position: relative;
  display: block;
  text-decoration: none;
  margin: 50px;
}
.index ul li a:hover{
  color:#DCDCDC;
}

.index ul li{
  width:100%;
  font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
  color:#DCDCDC;
  font-weight: 900;
  text-align: center;
}

.index h3{
  width:100%;
  font-size:40px;
  font-family: Arial, Helvetica, sans-serif;
  color:#DCDCDC;
  text-align: center;
}
.index h4{
  width:100%;
  font-size:30px;
  font-family: Arial, Helvetica, sans-serif;
  color:#DCDCDC;
  text-align: center;
}
.losi_form ul li{
  width:100%;
  height:auto;
  border:3px solid #DCDCDC;
}
.losi_form #header li {
  background-color: rgb(2, 10, 26);
  height:auto;
  
}
.losi_form #field_container li input {
  width:100%;
  height:30px;
}

.losi_form ul li h3{
  text-align: center;
  color:#DCDCDC;
  font-size: 30px;
}


/*Political office and party creation form*/
.create_form {
  width:50%;
  margin: 0% 0% 25% 25%;
  height:auto;
  opacity:1;
  font-size:15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
.create_form ul li{
  width:100%;
  height:auto;
  border:5px solid #DCDCDC;

}
.create_form ul li textarea{
  border-radius: 18px;
}
.create_form #header li {
  background-color:rgb(2, 10, 26);
  height:auto;
}
.create_form #field_container li input {
  width:100%;
  height:40px;

}

.create_form ul li h3{
  text-align: center;
  
  color:#DCDCDC;
  font-size: 30px;
}

.card_vote {
  width:70%;
  margin: 0% 0% 15% 15%;
  height:auto;
  font-family: Arial, Helvetica, sans-serif;
}
.card_main {
  display:block;
  background-color: black;
  text-align: center;
  width:70%;
  margin: 0% 0% 15% 15%;
  height:auto;
  font-family: Arial, Helvetica, sans-serif;
}
ul{
  list-style: none;
}
a {
  color: rgb(250, 7, 7);
  text-decoration: none;
}

input[type="radio"] {
    -ms-transform: scale(1.9);
    -webkit-transform: scale(1.9);
    transform: scale(1.9);
}
.fileupload {
    overflow: hidden;
    position: relative;
    color:  rgb(2, 10, 26);
}
.fileupload:hover {
    color:  #F08080;
}


.fileupload [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    border-radius: 18px;
}
#submit{
  background-color:rgb(2, 10, 26);
  color: #DCDCDC;
  position: relative;
  width:100%;
  height:100%;
  font-size: 20px;

}
::placeholder {
  color:  rgb(2, 10, 26);
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}

:-ms-input-placeholder {
  color:  rgb(2, 10, 26);
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}

::-ms-input-placeholder {
  color:  rgb(2, 10, 26);
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}
#vote_here{
    position:relative;
  font-size: 25px;
}
#vote_here table {
  position: relative;
  left:5%;
}
table{
  width: 90%;
}

td{
 border-bottom: 2px solid rgb(200, 213, 225);;


}

th{
  color: white;
 background-color:rgb(2, 10, 26);

}
#submit_votes{
  background-color:rgb(2, 10, 26);
  color: #DCDCDC;
  position: relative;
  width:90%;
  height:100%;
  font-size: 20px;

}

#vote_here table tr td {

  width: auto;
  text-align: left;
  padding-right: 50px;
}
#vote_here table tr th {

  width: auto;
  text-align: left;
    padding-right: 50px;
}
#vote_here div  {
  width: 100%;
  text-align: center;
}


* {box-sizing: border-box;}
.mySlides {display: none;}
#prezo {display: block;}
img {vertical-align: middle;}

.vote_container {
  width: 100%;
  position: relative;
  margin: auto;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 125px;
  width: auto;
  color: rgb(2, 10, 26);
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}



.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
  left: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.terms:hover {
  color: #DCDCDC;
}

.numbertext {
  color:rgb(2, 10, 26);
  font-size: 18px;
  padding: 8px 12px;
  position: relative;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
@media (min-width: 480px) and (max-width: 960px) {
  .header_content #right {
    position:absolute;
  width:100%;
    top:60px;
    right:0px;
  }}
  @media (min-width: 100px) and (max-width: 720px) {
    .header_content #right li{
      display:block;
    
    }.header_content #right {
      position:absolute;
    width:100%;
      top:60px;
      right:0px;
    }}