/*Header style*/
header {
  position : fixed;
  width : 100%;
  height :60px;
  top :0px;
  left:0px;
  background-color: rgb(2, 10, 26);
}
.header_content   #left li b{
  position : absolute;
  top :10px;
  left:60px;
  font-size:30px;
  font-family: 'Courier New', Courier, monospace;
}
.header_content #right {
  position:absolute;

  top:0px;
  right:0px;
}
.header_content #right li{
  display:inline-block;
  padding-right: 50px;

}
.header_content #right li a{
  display:inline-block;
  text-decoration: none;

}

/*Footer style*/
footer{
  position : fixed;
  width : 100%;
  height :60px;
  top :91%;
  left:0px;
  background-color: rgb(2, 10, 26);

}
.footer_content ul li{
  position:relative;
  left:5%;
  display : inline-block;
  padding:10px 15px 50px 55px ;
  width:15%;
  margin:10px;
  color:rgb(247, 237, 196);
  font-size:15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900
}


/*Body styles*/
body{
  position : absolute;
  width : 100%;
  height :0px;
  top :60px;
  left:0px;
  height :0px;
  background-color: #DCDCDC;
}
  /*Login and signup form*/
.losi_form {
  width:60%;
  margin: 0% 0% 20% 20%;
  height:auto;
  font-size:15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
.index {
  position: fixed;
  width:80%;
  margin: 0% 0% 10% 10%;
  height:80%;
  background-color:  rgb(2, 10, 26);
}
.index ul {

  width:60%;
  margin: 10% 10% 20% 20%;
}
.dashboard {
  position: relative;
  top:0px;
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color:  rgb(2, 10, 26);
  color: white;
}
.dashboard section {

  width:60%;
}
.index ul li a{
  position: relative;
  display: block;
  text-decoration: none;
  margin: 50px;
}
.index ul li a:hover{
  color:  #DCDCDC;;
}

.index ul li{
  width:100%;
  font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
  color:#DCDCDC;
  font-weight: 900;
  text-align: center;
}

.index h3{
  width:100%;
  font-size:40px;
  font-family: Arial, Helvetica, sans-serif;
  color:#DCDCDC;
  text-align: center;
}
.index h4{
  width:100%;
  font-size:30px;
  font-family: Arial, Helvetica, sans-serif;
  color:#DCDCDC;
  text-align: center;
}
.losi_form ul li{
  width:100%;
  height:auto;
  border:5px solid #DCDCDC;
}
.losi_form #header li {
  background-color:#DCDCDC;
  height:auto;
}
.losi_form #field_container li input {
  width:100%;
  height:40px;
}

.losi_form ul li h3{
  text-align: center;
  color:rgb(2, 10, 26);
  font-size: 30px;
}


/*Political office and party creation form*/
.create_form {
  width:70%;
  margin: 0% 0% 15% 15%;
  height:auto;
  opacity:1;
  font-size:15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
.create_form ul li{
  width:100%;
  height:auto;
  border:5px solid #DCDCDC;

}
.create_form ul li textarea{
}
.create_form #header li {
  background-color:#DCDCDC;
  height:auto;
}
.create_form #field_container li input {
  width:100%;
  height:40px;

}

.create_form ul li h3{
  text-align: center;
  color:rgb(2, 10, 26);
  font-size: 30px;
}

.card_vote {
  width:70%;
  margin: 0% 0% 15% 15%;
  height:auto;
  font-family: Arial, Helvetica, sans-serif;
}
.card_main {
  display:block;
  background-color: black;
  text-align: center;
  width:70%;
  margin: 0% 0% 15% 15%;
  height:auto;
  font-family: Arial, Helvetica, sans-serif;
}
ul{
  list-style: none;
}
a {
  color:red;
}
input[type="radio"] {
    -ms-transform: scale(1.9); /* IE 9 */
    -webkit-transform: scale(1.9); /* Chrome, Safari, Opera */
    transform: scale(1.9);
}
#submit{
  background-color: rgb(200, 213, 225);
  position: relative;
  width:100%;
  height:100%;
  font-size: 20px;
}
::placeholder {
  color:  rgb(2, 10, 26);
  font-size: 20px;
  text-align: center;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:  rgb(2, 10, 26);
  font-size: 20px;
  text-align: center;/* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:  rgb(2, 10, 26);
  font-size: 20px;
  text-align: center;/* Firefox */
}
#vote_here{
    position:relative;
  font-size: 25px;
}
#vote_here table {
  position: relative;
  left:5%;
}
table{
  width: 90%;
}

td{
 border-bottom: 2px solid rgb(200, 213, 225);;


}

th{
  color: white;
 background-color:rgb(2, 10, 26);

}
#submit_votes{
  background-color:rgb(2, 10, 26);
  position: relative;
  width:90%;
  height:100%;
  font-size: 20px;
}

#vote_here table tr td {

  width: auto;
  text-align: left;
  padding-right: 50px;
}
#vote_here table tr th {

  width: auto;
  text-align: left;
    padding-right: 50px;
}
#vote_here div  {
  width: 100%;
  text-align: center;
}


* {box-sizing: border-box;}
.mySlides {display: none;}
#prezo {display: block;}
img {vertical-align: middle;}

/* Slideshow container */
.vote_container {
  width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 125px;
  width: auto;
  color: rgb(2, 10, 26);
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */


/* Number text (1/3 etc) */
.numbertext {
  color:rgb(2, 10, 26);
  font-size: 18px;
  padding: 8px 12px;
  position: relative;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
