
<!--Signup page-->
<!DOCTYPE html>
<html>
    <head>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Politico</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />
    </head>
    <body >
       <header >
         <nav class=header_content>
     <ul id="left">
     <li id="questioner"><a href="dashboard.html"><img src="static/images/questioner.jpeg" ><b >politico</b></a></li>
     </ul>
     <ul id="right">
       <li><a href="terms.html">terms</a></li>
     <li ><a href="logout.html" >Logout</a></li>
     </ul>
   </nav>
          </header>
	        <div class="container">
            <div id="container_center">
              <div class="card_main">
                <p>AWhat is a terms and conditions agreement

In legal terms, terms and conditions are the same as Terms of Service and Terms of Use. People very often use the following abbreviations: ToS and ToU. In a legal sense, terms and conditions is a form of an agreement or contract. This document can contain standards, specifications, rules, requirements, provisions, and arrangements. For some purposes, the terms and conditions can be used as a plain disclaimer to notify the website visitors.

It is important not to confuse it with End-User License Agreement (EULA). EULA is used for desktop software that may or may not require a server connection to run. If you have a mobile app or if you offer services through your website, you will need to have ToS in place.

On many websites today, rules and guidelines specified in the terms and conditions have to be agreed on by website visitors, so that the user may continue using the website in question. In this scenario, the website is a company and the user is the person who visits it. Terms and conditions serve as a legal contract between these two.

Terms and conditions have to be set up by you. Since your website and/or service you provide may differ from others on the market, you can use the terms and conditions Template as a reference point. But, in the end, you will have to specify rules and guidelines for your website visitors to follow. This way, you will have a legal agreement and hold the rights to practice measures specified in the terms and conditions, if a visitor abuses the website and its content.

Terms and conditions can be used in different business models offering a wide range of services:

    E-commerce websites
    Product catalog and business card websites
    Online blogs running on WordPress, Joomla, Drupal and similar platforms
    Software as a Service Applications (SASS)
    Mobile Apps (iPhone, iOS, Android)
    Web apps (Facebook, Twitter, etc)</p>
              </div>
        </div>

        <footer id="container_bottom" >
            <div class="footer_content"><ul>

                    </ul>
            </div>
        </footer>

    </div>

    <script type="text/jscript" src="../static/js/main.js"></script>
    </body>
</html>
