
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Politico</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />
    </head>
    <body >
       <header >
          <nav class=header_content>
              <ul id="left">
                <li id="politico"><a href="dashboard.html"><b >Politico</b></a></li>
              </ul>
              <ul id="right">
              <li ><a href="../index.html" >Logout</a></li>
              </ul>
            </nav>
          </header>
	        <div class="container">
            <div id="container_center">
              <form  method="POST" action="" id="form">
              <div class="create_form">
                <ul id="header">
                      <li ><h3>Create political office</h3></li>
                      <li class="messages"></li>
                    </ul>
                    <ul id="field_container">
                       <li><input   type="text" placeholder=" Office type" name="office_type" required></li>
                      <li><input   type="text" placeholder=" Office name" name="office_name" required></li></ul><ul >
                      <li ><input type="submit" value="Submit" id="submit"></li>
                </ul>

              </div>
      </form>
        </div>


    </div>

    </body>
</html>
