
<!--Signup page-->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Politico</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />
    </head>
    <body >
       <header >
          <nav class=header_content>
              <ul id="left">
                <li id="politico"><a href="../index.html"><img src="static/images/logo.jpeg" ><b >Politico</b></a></li>
              </ul>
            </nav>
          </header>
	        <div class="container">
            <div id="container_center">
              <form  method="POST" action="" id="form">
              <div class="create_form">
                <ul id="header">
                      <li ><h3>Create political office</h3></li>
                      <li class="messages"></li>
                    </ul>
                    <ul id="field_container">
                       <li><input   type="text" placeholder=" Political Office" name="political_office" required></li>
                      <li><textarea  type="text" placeholder="Briefly describe the political office" name="political_office_description" rows="15" cols="105" required></textarea></li>
              </ul><ul >
                      <li ><input type="submit" value="Submit" id="submit"></li>
                </ul>

              </div>
      </form>
        </div>

        <footer id="container_bottom" >
            <div class="footer_content"><ul>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="terms.html">terms</a></li>

                    </ul>
            </div>
        </footer>

    </div>

    <script type="text/jscript" src="../static/js/main.js"></script>
    </body>
</html>
