
<!--Signup page-->
<!DOCTYPE html>
<html>
    <head>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Politico</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />
    </head>
    <body >
       <header >
         <nav class=header_content>
     <ul id="left">
     <li id="questioner"><a href="dashboard.html"><img src="static/images/questioner.jpeg" ><b >politico</b></a></li>
     </ul>
     <ul id="right">
     <li ><a href="../index.html" >Logout</a></li>
     </ul>
   </nav>
          </header>
	        <div class="container">
            <div id="container_center">
              <div class="dashboard">
              <section>
                <p>/**Admin dashboard** /</p>
                <h3>Dashboard</h3>
<ul><li><a href="admin_profile.html">admin profile</a></li>
  <li><a href="vote.html">Start voting</a></li>
  <li><a href="results.html">View the results</a></li></ul>


              </section>
                  <section >
                    <p>/**Politician dashboard **/</p>
                    <h3>Dashboard</h3>

                    <ul><li><a href="politician_profile.html">politicianProfile</a></li>
                      <li><a href="vote.html">Start voting</a></li>
                    <li><a href="results.html">View the results</a></li></ul>


                  </section>
                  <section>
                    <p>/**User dashboard** /</p>
                    <h3>Dashboard</h3>

                    <ul><li><a href="user_profile.html">user Profile</a></li>
                    <li><a href="vote.html">Start voting</a></li>
                  <li><a href="results.html">View the results</a></li></ul>


                  </section>
                </div>
        </div>


    </div>
    </body>
</html>
