
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Politico</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />
    </head>
    <body >
      <script src="../static/js/javascript.js"></script>
       <header >
          <nav class=header_content>
              <ul id="left">
                <li id="politico"><a href="../index.html"><b >Politico</b></a></li>
              </ul>
            </nav>
          </header>
	        <div class="container">
            <div id="container_center">
              <form method="POST" action="" enctype=multipart/form-data id="form">
              <div class="losi_form">
                <ul id="header">
                      <li ><h3>Apply for a politicall office</h3></li>
                      <li class="messages"></li>
                    </ul>
                    <ul id="field_container">
                      <li><input  type="email" placeholder="Example@example.com" name="email" required></li>
                       <li><input   type="text" placeholder=" Party" name="party" required></li>
                       <li><input   type="text" placeholder=" Office" name="office" required></li>
                      <li><label class="fileupload">Click this link  to upload your display pic<input type="file"/></label></li>
              </ul><ul >
                    <li ><input type="submit" value="Submit" id="submit"></li>
                </ul>

              </div>
      </form>
        </div>


    </div>

    </body>
</html>
