
<!--Signup page-->
<!DOCTYPE html>
<html>
    <head>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Politico</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />
    </head>
    <body >
       <header >
         <nav class=header_content>
     <ul id="left">
     <li id="questioner"><a href="dashboard.html"><img src="static/images/questioner.jpeg" ><b >politico</b></a></li>
     </ul>
     <ul id="right">
     <li ><a href="logout.html" >Logout</a></li>
     </ul>
   </nav>
          </header>
	        <div class="container">
            <div id="container_center">
              <div class="card_main">
                <p>Admin's Page</p>

                <li><a href="petition.html">File a petition</a></li>
                  </div>
        </div>



    </div>

    </body>
</html>
