
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Politico</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />
    </head>
    <body >
      <script src="../static/js/javascript.js"></script>
       <header >
          <nav class=header_content>
              <ul id="left">
                <li id="politico"><a href="../index.html"><b >Politico</b></a></li>
              </ul>
            </nav>
          </header>
	        <div class="container">
            <div id="container_center">
              <form method="POST" action="" enctype=multipart/form-data id="form">
              <div class="losi_form">
                <ul id="header">
                      <li ><h3>Signup</h3></li>
                      <li class="messages"></li>
                    </ul>
                    <ul id="field_container">
                       <li><input   type="text" placeholder=" first_name Name" name="first_name" required></li>
                       <li><input   type="text" placeholder=" Second Name" name="second_name" required></li>

                       <li><input   type="text" placeholder="Other Name" name="other_name" required></li>

                      <li><input  type="email" placeholder="Example@example.com" name="email" required></li>
                      <li><input   type="text" placeholder=" Phone number" name="username" required></li>
                      <li><input   type="password" placeholder="Password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain atleast one number and one uppercase and lowercase letter, and atleast 8 or more characters" required></li>

                      <li><input   type="password" placeholder="Repeat Password" name="rpassword" required></li>
                      <li><label class="fileupload">Click this link  to upload your passport<input type="file"/></label></li>
              </ul><ul >
                        <li  ><input type="checkbox" name="terms" value="terms" checked id="checkbox"><small>By submitting, you are Accepting our <a class="terms" onmouseover="terms()" >terms</a></small></li>
                        <li ><input type="submit" value="Submit" id="submit"></li>
                        <li >Already have an accout?<a href="login.html" >Login</a></li>
                </ul>

              </div>
      </form>
        </div>


    </div>

    </body>
</html>
